:root{
    --night: #0A100D;
    --ashgray: #B9BAA3;
    --timberwolf: #D6D5C9;
    --auburn: #A22C29;
    --burntumber: #902923;

    --mainfont: 'Rubik', sans-serif;
    --maintitle: 'Exo 2', sans-serif;
}

* {
    font-family: var(--mainfont);
    margin: 0px;
}

h1{
    font-family: var(--maintitle);
    font-size: 3rem;
}

#main-containerdiv{
    position: relative;
    min-height: 100vh;
}
.m-container{
    padding-bottom: 4rem;
}

body{
    background-color: var(--timberwolf);
}

main{
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

footer {
    border-top: solid 1px;
    background: var(--burntumber);
    position: absolute;
    bottom: 0; 
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    border: none;
    color: var(--timberwolf);
    width: 100vw;
    height: 12vh;
}

header {
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    height: 7vw;
    width: 100vw;
    background-color: var(--night);
}

a {
    text-decoration: none;
    color: #ffff;
}

ul{
    list-style-type: none;
}

#title{
    text-decoration: none;
    color: #ffff;
}

.container{
    padding: 2rem;
    font-size: x-large;  
    width: 90%;
    align-items: center;
}

.jonathanluna-photo{
    width: 32vh;
    margin-top: 0;
}

.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    margin-top: 1rem;
}

.phrase{
    margin-top: 1rem;
    font-size: small;
    font-style: italic;
}

.list-url{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.list-url-item{
    text-decoration: none;
    color: #ffff;
    border-bottom: 1px solid;
    padding-bottom:4px;
    width: 15vh;
    text-align: center;
    font-size: larger;
}

.list-url-item-active{
    color: var(--auburn);
    border-bottom: 1px solid var(--timberwolf);
}

.info-aboutme{
    text-align: justify;
    font-size: 22.5px;
    width: 80vh;
}

.phrase-photo{
    text-align: center;
}

.portfolio-title{
    text-align: center;
    margin-top: 2rem;
}
.carousel-inner{
    border-radius: 10px;
}

.mymedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    text-decoration: none;
    width: 12vw;
}

.social-media{
    width: 5vh; 
    border-radius: 0;
    filter: brightness(0) invert(1);
    color: #B9BAA3;
}

@media (min-width: 1510px) {
    #drop-menu{
        display: none;
    }
}

@media (max-width: 1510px) {
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        margin-top: 2rem;
    }
    .info-aboutme{
        font-size: large;
    }
    .about-me{
        gap: 1rem;
    }
    #menu-bar{
        display: block;
        width: 3vh;
        filter: brightness(0) invert(1);
    }
    .list-url{
        display: none;
    }
}
@media (max-width: 850px) {

    header{
        height: 14vh;
    }

    img{
        width: 60px;
    }
    .info-aboutme{
        padding: 1rem;
        font-size: large;
        width: 60vh;
    }
    .about-me{
        gap: 0;
    }
    .carousel{
        margin: 0 auto;
        width: 30vh;
    }
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 14vh;
        font-size: 12px;
    }
    .m-container{
        padding-bottom: 6rem;
    }
    .mymedia {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 14vh;
    }
}

.carousel{
    padding: 2rem;
    margin: 0 auto;
    width: 80vh;
}

.contact-me{
    text-align: center;
    margin-top: 3rem;
}

.a:active{
    color: #ffff;
}

.reserved-p{
    margin-top: 0.5rem;
}

.form{
    display: grid;
    height: 30vh;
    width: 40vh;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

input,textarea{
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
}

.btnsubmit{
    border: none;
    background-color: #902923;
    color: #ffff;
    width: fit-content;
    margin: 0 auto;
    padding: 6px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#drop-menu{
    padding: 1rem;
    position: absolute; 
    right: 5rem;
    background-color: black;
    width: 20vh;
}

.list-url-item{
    display: inline-block;
}