:root{
    --night: #0A100D;
    --ashgray: #B9BAA3;
    --timberwolf: #D6D5C9;
    --auburn: #A22C29;
    --burntumber: #902923;

    --mainfont: 'Rubik', sans-serif;
    --maintitle: 'Exo 2', sans-serif;
}

body, html {
    overflow-x: hidden;
}

* {
    font-family: var(--mainfont);
    margin: 0px;
}

h1{
    font-family: var(--maintitle);
    font-size: 3rem;
}

body{
    background-color: var(--timberwolf);
}

main{
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

footer {
    border-top: solid 1px;
    background: var(--burntumber);
    /* position: absolute;
    bottom: 1; with 0 sticks to the top and with 1 it sticks more to the bottom (???) */
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 2.5rem;
    border: none;
    border-radius: 4px;
    color: var(--timberwolf);
    width: 100vw;
    
}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    height: 4vw;
    width: 97vw;
    text-decoration: none;
    background-color: var(--night);
}

a {
    text-decoration: none;
    color: #ffff;
}

ul{
    list-style-type: none;
}

img{
    border-radius: 10px;
}

.container{
    padding: 2rem;
    font-size: x-large;  
    width: 90%;
    align-items: center;
}

.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.list-url{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    flex-shrink: 1.5; 
    width: 20vw;
}


.mymedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1.5;
    font-size: large;
    text-decoration: none;
    width: 20vw;
}

@media (max-width: 890px) {
    .about-me{
        display: flex;
        flex-direction: column;
    }
}