:root{
    --night: #0A100D;
    --ashgray: #B9BAA3;
    --timberwolf: #D6D5C9;
    --auburn: #A22C29;
    --burntumber: #902923;

    --mainfont: 'Rubik', sans-serif;
    --maintitle: 'Exo 2', sans-serif;
}

/* body, html {
    overflow-x: hidden;
} */

* {
    font-family: var(--mainfont);
    margin: 0px;
}

h1{
    font-family: var(--maintitle);
    font-size: 3rem;
}

body{
    background-color: var(--timberwolf);
}

main{
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

footer {
    border-top: solid 1px;
    background: var(--burntumber);
    position: absolute;
    bottom: 0; 
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    border: none;
    color: var(--timberwolf);
    width: 100vw;
    height: 12vh;
}

header {
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    height: 7vw;
    width: 100vw;
    background-color: var(--night);
}

a {
    text-decoration: none;
    color: #ffff;
}

ul{
    list-style-type: none;
}

img{
    border-radius: 10px;
}

.container{
    padding: 2rem;
    font-size: x-large;  
    width: 90%;
    align-items: center;
}

.jonathanluna-photo{
    width: 37vh
}

.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    margin-top: 1rem;
}
.phrase{
    margin-top: 1rem;
    font-size: small;
    font-style: italic;
}

.list-url{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.list-url-item{
    text-decoration: none;
    color: #ffff;
    border-bottom: 1px solid;
    padding-bottom:4px;
    width: 15vh;
    text-align: center;

}

.info-aboutme{
    text-align: justify;
    font-size: 22.5px;
}


.mymedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    text-decoration: none;
    width: 12vw;
}

.social-media{
    width: 5vh; 
    border-radius: 0;
    filter: brightness(0) invert(1);
}

@media (max-width: 995px) {
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1400px) {

    img{
        width: 50vh;
    }
    .list-url{
        width: 30vh;
    }
}

@media (max-width: 650px) {

    img{
        width: 35vh;
    }

}

.portfolio-div{
    padding: 2rem;
}